.contactPage {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 30px;
    margin-bottom: 100px;
  }
  
  .contactInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
  }
  
  .contactItem {
    text-align: center;
    margin: 20px 0;
  }
  
  .contactItem h2 {
    font-size: 24px;
    color: #333;
  }
  
  .link {
    font-size: 20px;
    color: #d32f2f;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .link:hover {
    color: #f44336;
  }
  
  .formAndMap {
    display: flex;
    justify-content: space-between;
    height: 60% auto;
    margin: 10px;
    padding: 10px;
  }
  
  .formContainer {
    width: 50%;
    padding: 20px;
    background-color: #ffffff00;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.0);
    margin: 10px;
  }
  
  .form h1 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .submitButton {
    background-color: #d32f2f;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  .submitButton:hover {
    background-color: #f44336;
  }
  
  .mapContainer {
    width: 50%;
    height: 90%;
    position: relative;
    margin: 10px;
  }
  
  .mapContainer iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
  