.face-clear-container {
    width: 90%;
    margin: auto;
    padding: 20px;
    background-color: rgba(241, 240, 237, 0.534);
    font-size: large;

}
.top-clear-face {
    margin-top: 30px;
    font-size: x-large;
    text-align: center;
}

.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    height: 80vh;
}

.procedure-img {
    width: 65%;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.specialist-info {
    width: 35%;
    text-align: center;
    background-color: rgba(255, 254, 252, 0.007);
    padding: 20px;
    margin: 20px;
    margin-top: 200px;
}

.specialist-img {
    width: 100%;
    border-radius: 10px;
}

.book-btn {
    background-color: red;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}

.book-btn:hover {
    background-color: darkred;
}

.price-section
 {
    margin-top: 20px;
    margin-right: 550px;
    text-align: center;
}
.description-section{
    font-size: 20px;
    margin-top: 20px;

}