/* === БАЗОВІ СТИЛІ === */
.navbar-area {
  background-color: #64635f;
  color: white;
  position: relative;
  width: 100%;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  background-color: #64635f;
  transition: top 0.3s ease;
  height: 2rem;
  position: relative;
  z-index: 1000;
  width: 100%;
}

.navbar.sticky {
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* === ЛОГОТИП === */
.logo img {
  max-width: 130px;
  height: auto;
  scale: 0.6;
}

/* === ЛІНКИ === */
.links {
  display: flex;
  justify-content: center; /* Центрує горизонтально */
  align-items: center;     /* Центрує вертикально */
  gap: 30px;
  font-size: 1.2rem;
  font-weight: bold;
  transition: top 0.4s ease;
  padding: 0px 90px 0px 20px;
  flex: 1; /* Забирає доступний простір, щоб центрування працювало */
}


.links a {
  color: white;
  text-decoration: none;
  transition: 0.2s;
}

.links a:hover {
  text-decoration: underline;
}

/* === БУРГЕР === */
.burger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: white;
  z-index: 1001;
  margin-right: 20px;
  padding-right: 15px;
}

/* === АДАПТИВНІСТЬ === */
@media (max-width: 768px) {
  .navbar-area {
    height: auto;
  }

  .navbar {
    height: auto;
    padding: 10px 20px;
    flex-direction: row;
    justify-content: space-between;
  }

  .logo img {
    width: 60px;
    margin: 10px 0;
    scale: 1;
  }

  .top-bar-area {
    display: none;
  }

  .burger {
    display: block;
    position: absolute;
    top: 15px;
    right: 10px;
  }

  .links {
    position: absolute;
    top: -350px;
    left: 0;
    width: 100%;
    background-color: #64635f;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 15px 0 20px;
    display: flex;
  }

  .links.open {
    top: 80px;
  }

  .links a {
    margin: 10px 0;
    font-size: 20px;
  }
}

@media (max-width: 768px) and (orientation: landscape) {
  .navbar {
    padding: 15px 10px;
  }

  .logo img {
    width: 60px;
  }

  .links {
    font-size: 1rem;
    gap: 5px;
  }
}